.center .otros .secundarios a .medio,
.center p,
h1 {
    font-family: 'Open Sans'
}

* {
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    color: #000
}

.spoiler {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease
}

.center p {
    text-align: left
}

.center,
.center .otros,
.center .services .frame p,
.center .texto,
.otros .secundarios p {
    text-align: center
}

.center .services .frame a .middle,
.center .texto {
    font-family: 'Open Sans'
}

.center {
    margin: 120px auto;
    max-width: 1080px
}

.center .texto {
    font-weight: 400;
    font-size: 24px;
    margin: 10px 10px 80px
}

.center .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.center .services .frame {
    min-height: 230px;
    min-width: 230px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 15px
}

.center .services .foto {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    position: absolute
}

.center .services .foto:active,
.center .services .foto:focus,
.center .services .foto:hover {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out
}

.center .services .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.center .services .frame a .middle {
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    color: #fff;
    line-height: 98%
}

.uno {
    left: 18%;
    top: -75%
}

.dos {
    left: -2%;
    top: -80%
}

.tres {
    left: 20px;
    top: -65%
}

.cuatro {
    left: -49px;
    bottom: -75px
}

.spoiler {
    opacity: 0;
    position: absolute;
    -webkit-transform: perspective(2000px) rotateY(-180deg);
    -moz-transform: perspective(2000px) rotateY(-180deg);
    -ms-transform: perspective(2000px) rotateY(-180deg);
    -o-transform: perspective(2000px) rotateY(-180deg);
    transform: perspective(2000px) rotateY(-180deg);
    transition: all .5s ease
}

.icon,
.noSpoiler {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease
}

.frame:active .spoiler,
.frame:focus .spoiler,
.frame:hover .spoiler {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
    opacity: 1
}

.noSpoiler,
.secundarios:hover .icon {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0)
}

.noSpoiler {
    transform: perspective(2000px) rotateY(0);
    transition: all .5s ease
}

.frame:active .noSpoiler,
.frame:focus .noSpoiler,
.frame:hover .noSpoiler {
    -webkit-transform: perspective(2000px) rotateY(180deg);
    -moz-transform: perspective(2000px) rotateY(180deg);
    -ms-transform: perspective(2000px) rotateY(180deg);
    -o-transform: perspective(2000px) rotateY(180deg);
    transform: perspective(2000px) rotateY(180deg);
    opacity: 0
}

.center .otros .secundarios a,
.center .otros .secundarios a .medio {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: #000
}

.center .otros {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.center .otros .secundarios {
    border: 3px solid #d3d3d3;
    width: 150px;
    height: 150px
}

.center .otros .secundarios .fondo {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: absolute
}

.center .otros .secundarios .medio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.center .otros .secundarios {
    min-height: 150px;
    min-width: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 15px
}

.center .otros .fondo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute
}

.center .otros .fondo:active,
.center .otros .fondo:focus,
.center .otros .fondo:hover {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out
}

.center .otros .medio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.center .otros .secundarios a .medio {
    line-height: 98%
}

.aa {
    top: -25%;
    left: 14%
}

.bb {
    top: -29%;
    left: 20%
}

.cc {
    top: -14%;
    left: 12%
}

.dd {
    top: -30%;
    left: 8%
}

.icon {
    opacity: 0;
    position: absolute;
    -webkit-transform: perspective(2000px) rotateY(-180deg);
    -moz-transform: perspective(2000px) rotateY(-180deg);
    -ms-transform: perspective(2000px) rotateY(-180deg);
    -o-transform: perspective(2000px) rotateY(-180deg);
    transform: perspective(2000px) rotateY(-180deg);
    transition: all .5s ease
}

.secundarios:hover .icon {
    transform: perspective(2000px) rotateY(0);
    opacity: 1
}

.noMostrar {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.secundarios:hover .noMostrar {
    -webkit-transform: perspective(2000px) rotateY(180deg);
    -moz-transform: perspective(2000px) rotateY(180deg);
    -ms-transform: perspective(2000px) rotateY(180deg);
    -o-transform: perspective(2000px) rotateY(180deg);
    transform: perspective(2000px) rotateY(180deg);
    opacity: 0
}

h1 {
    text-align: center
}

h1 {
    font-weight: 800;
    font-size: 36px;
    margin: 10px 10px 80px
}





.services {
    background-color: #fff;
    width: 100%
}

.services {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  
}
/*NUEVOS ESTILOS INDEX*/
.popserv{
    font-family: 'Open Sans';
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 20px;
}

.center .services {
 border-top: 5px solid #214460;
 padding: 10px;

}

.center .services .popular amp-img{
margin: 25px;
}

.center .services .popular h3{
    font-family: 'Open sans';
    font-size: 22px;
    font-weight: bold;
    color: #214460;
}

.otherserv{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 25px;
}
.otherserv h3{
      
    font-family: 'Open Sans';
    font-weight: 100;
    color: #214460;
}

.subtitle{
    width: 100%;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #000;
    margin-top: 80px;
    font-size: 32px;
       border-bottom: 4px solid #ccc;



}
.center .box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/*
BLOG
.blogcontent{
    margin:150px auto;
    max-width: 1280px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1500px;
}

.bloginit{
    background-color: antiquewhite;
    
    width: 70%;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.asideblog{
    background-color: aqua;
     height: 800px;
     width: 28%;
    float: right;
    margin-left: 15px;
}
.bloginit .escript{
    background-color: burlywood;
    width: 30%;
    height: 30%;
    border: 2px solid #000;
  margin: 8px;
}
*/
