* {
    padding: 0;
    margin: 0
}
a {
    text-decoration: none;
    color: #000;
}



/*MENU*/
.lineavertical {
    height: 85px;
    width: 2px;
    background-color: #000;
    margin-left: 25px;
    margin-right: 25px;
}

.servicetext {
    color: #fff;
    font-size: 25px;
}

.content amp-accordion h4,
.menu-desktop li a,
.menu-responsive,
.top .contact p {
    font-family: 'Open Sans'
}

.content,
.menu-desktop li:hover ul a {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5)
}

.content,
.top .contact {
    right: 0;
    position: absolute
}

.top {
    background-color: #EDA921;
    text-align: center;
    align-items: center;
    position: relative
}

.top amp-img {
    margin: 15px
}

.top .contact {
    top: 0;
    padding-right: 80px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.menu-desktop li,
.top .contact li {
    display: inline-block
}

.top .contact amp-img {
    margin-right: 10px
}

.top .contact .phonenumber {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    text-align: left;
    font-family: 'Open Sans';
}

.top .contact li {
    float: left
}

.menu-desktop {
    width: 100%;
    height: 60px;
    background-color: #000;
}

.menu-desktop ul {
    list-style-type: none;
    position: absolute;
}

/*
.menu-desktop .nav .barra {
display: inline-block;
border-right: 2px solid #ccc;
line-height: 10px;
}
*/

.menu-desktop .nav {
    padding-left: 5%
}

.menu-desktop li a {
    display: block;
    min-width: 150px;
    height: 55px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.menu-desktop li:hover a {
    color: #EDA921
}

.menu-desktop li:hover ul a {
    background: #214460;
    color: #fff;
    height: 40px;
    line-height: 30px;
    text-align: left
}

.content {
    text-align: center
}

.menu-desktop li:hover ul a:hover{
    background: #EDA921;
    color: #fff
}

.menu-desktop li ul {
    display: none;
    z-index: 100
}

.menu-desktop li ul li {
    display: block;
    float: none
}

.menu-desktop li ul li a {
    min-width: 100px;
    padding: 0 20px
}

.hidden:hover,
.menu-desktop ul li a:hover+.hidden {
    display: block
}

.menu-desktop .column {
    float: left;
    width: 250px;
}


.nav2 {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center
}

.content amp-accordion h4 {
    font-weight: 400
}

.menu-responsive {
    background: #000;
    height: 50px;
    width: 100%
}

.menu-responsive .hamburger {
    float: right;
    background-color: #000;
    color: #fff;
    margin-right: 25px;
    border: 0;
    font-size: 36px;
    outline: 0;
    
}

.menu-responsive .hamburger:active,
.menu-responsive .hamburger:focus,
.menu-responsive .hamburger:hover,
.menu-responsive li:hover {
    color: #eda921
}

.content {
    display: none;
    background-color: #000;
    width: 60%;
    top: 165px;
    z-index: 1000;
    list-style: none
}

.content a {
    float: none;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-bottom: solid .5px #2c2c2c;
    border-top: solid .5px #2c2c2c
}

.content li:active,
.content li:focus,
.content li:hover {
    background-color: #eda921;
    color: #000;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease
}

.content amp-accordion section ul {
    background-color: #214460
}

.content amp-accordion h4 {
    font-size: 16px;
    color: #fff
}

i {
    border: solid #eda921;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 4px
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.menu-responsive:active .content,
.menu-responsive:focus .content,
.menu-responsive:hover .content {
    display: block
}

/*MENU EXPANDIDO*/
amp-accordion section:not([expanded]) h4,amp-accordion section[expanded] h4 {
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, .5);
    height: 40px;
    background-color: #000;
    margin-top: 8px
}

/*CHAT*/

.chat,
.chat p {
    text-align: center
}

.chat {
    z-index: 100;
    height: 80px;
    width: 220px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .35), 0 1px 1px 0 rgba(0, 0, 0, .45);
    background-color: #EDA921;
    border-radius: 20px
}

.chat p {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    padding: 20px 5px 5px;
    font-size: 16px
}

.chat:hover {
    background-color: #214460;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}
/*CARROUSEL INDEX*/

amp-carousel amp-img{
     -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 50s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 50s;
 transition: all 10s;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {  transform: scale(1);}
    to {  transform: scale(1.2);}
}

/* Standard syntax */
@keyframes example {
     from {  transform: scale(1);}
    to {  transform: scale(1.2);}
}

amp-carousel a {
    position: relative;
}

amp-carousel a .texto {
    position: absolute;
    z-index: 1;
    background-color: #EDA921;
    opacity: .8;
    filter: alpha(opacity=80);
    border-radius: 15px;
    padding: 8px
}

amp-carousel a .texto h2 {
    font-family: 'Open Sans';
    color: #fff;
    font-weight: 100;
    padding: 4px 8px 4px 8px;
    line-height: 1.4;
    
}

amp-carousel a .primero,
amp-carousel a .quinto,
amp-carousel a .tercero {
    background-color: #214460;
}
/*CIRCLE MENU*/
.center p{
    font-family: 'Open Sans';
    text-align: left;
}

.center .services .frame a .middle,
.center .texto {
    font-family: 'Open Sans'
}


.center .texto {
    text-align: center
}

.center .texto {
    font-weight: 400
}

.center {
    margin: 120px auto;
    max-width: 1080px;
    text-align: center;
}

.center .texto {
    font-size: 24px;
    margin: 10px 10px 80px
}

.center .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.center .services .frame {
    min-height: 230px;
    min-width: 230px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 15px
}

.center .services .foto {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    position: absolute
}

.center .services .foto:active,
.center .services .foto:focus,
.center .services .foto:hover {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
}

.center .services .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.center .services .frame a .middle {
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    color: #fff;
    line-height: 98%
}
.center .services .frame p, .otros .secundarios p{
    text-align: center;
}

.uno {
    left: 18%;
    top: -75%
}

.dos {
    left: -2%;
    top: -80%
}

.tres {
    left: 20px;
    top: -65%
}

.cuatro {
    left: -49px;
    bottom: -75px
}

.spoiler {
    opacity: 0;
    position: absolute;
    -webkit-transform: perspective(2000px) rotateY(-180deg);
    -moz-transform: perspective(2000px) rotateY(-180deg);
    -ms-transform: perspective(2000px) rotateY(-180deg);
    -o-transform: perspective(2000px) rotateY(-180deg);
    transform: perspective(2000px) rotateY(-180deg);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.frame:active .spoiler,
.frame:focus .spoiler,
.frame:hover .spoiler {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
    opacity: 1
}

.noSpoiler {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.frame:active .noSpoiler,
.frame:focus .noSpoiler,
.frame:hover .noSpoiler {
    -webkit-transform: perspective(2000px) rotateY(180deg);
    -moz-transform: perspective(2000px) rotateY(180deg);
    -ms-transform: perspective(2000px) rotateY(180deg);
    -o-transform: perspective(2000px) rotateY(180deg);
    transform: perspective(2000px) rotateY(180deg);
    opacity: 0
}

.center .otros .secundarios a,
.center .otros .secundarios a .medio {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: #000
}

.center .otros {
    margin-top: 55px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.center .otros .secundarios {
    border: 3px solid #d3d3d3;
    width: 150px;
    height: 150px
}

.center .otros .secundarios .fondo {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: absolute
}

.center .otros .secundarios .medio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.center .otros .secundarios {
    min-height: 150px;
    min-width: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 15px
}

.center .otros .fondo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute
}

.center .otros .fondo:active,
.center .otros .fondo:focus,
.center .otros .fondo:hover {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out
}

.center .otros .medio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.center .otros .secundarios a .medio {
    font-family: 'Open Sans';
    line-height: 98%
}

.aa {
    top: -25%;
    left: 14%
}

.bb {
    top: -29%;
    left: 20%
}

.cc {
    top: -14%;
    left: 12%
}

.dd {
    top: -30%;
    left: 8%
}

.icon {
    opacity: 0;
    position: absolute;
    -webkit-transform: perspective(2000px) rotateY(-180deg);
    -moz-transform: perspective(2000px) rotateY(-180deg);
    -ms-transform: perspective(2000px) rotateY(-180deg);
    -o-transform: perspective(2000px) rotateY(-180deg);
    transform: perspective(2000px) rotateY(-180deg);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.secundarios:hover .icon {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
    opacity: 1
}

.noMostrar {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.secundarios:hover .noMostrar {
    -webkit-transform: perspective(2000px) rotateY(180deg);
    -moz-transform: perspective(2000px) rotateY(180deg);
    -ms-transform: perspective(2000px) rotateY(180deg);
    -o-transform: perspective(2000px) rotateY(180deg);
    transform: perspective(2000px) rotateY(180deg);
    opacity: 0
}
/*FOOTER*/

footer a,
footer p {
    text-decoration: none
}
.group a,
footer a,
footer p {
    color: #fff;
    font-family: 'Open Sans'
}

footer a,
footer p {
    font-size: 14px;
    font-weight: 100
}

footer,
footer .follow,
footer .follow ul {
    text-align: center
}

h3,
h5 {
    text-align: left
}

footer,
footer .info {
    width: 100%;
    background-color: #000
}

footer {
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

footer .follow {
    padding: 55px
}

footer .follow li {
    display: inline-block;
    padding: 15px
}

footer .info {
    min-height: 100px
}

footer .info .statement {
    padding: 25px;
    
}

footer .info .statement a {
    font-weight: 700
}
footer .info .statement p{
    text-align: center;
    font-size: 16px;
}

.group a {
    font-weight: 100
}

.group .titulo a {
    font-weight: 700;
    color: #eda921;
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

.group ul {
    display: inline-block;
    margin: 20px
}

.group2 {
    padding: 0;
    margin: 0
}

/*FORMULARIO*/
.note {
    margin-top: 25px;
    padding-left: 5px;
}

.cotizacion .formulario {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.formulario form {
    background-color: #fff;
    padding: 20px 18px 18px;
    border-radius: 12px;
    font-family: 'Open Sans';
    border: 2px solid #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formulario .quote {
    width: 650px;
    margin-bottom: 25px;
    margin-top: 25px
}

.formulario .options,
.formulario .quote input[type=text],
.formulario input[type=email] {
    width: 95%;
    font-family: 'Open Sans';
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto
}

.formulario .quote input[type=text],
.formulario input[type=email] {
    background-color: #fff;
    display: block;
    height: 20px;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: #000
}

.cotizacion amp-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 571px;
    max-height: 358px;
}

.formulario fieldset {
    border: none
}

.formulario input[type=submit] {
    background-color: #EDA921;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 18px;
    border-radius: 9px;
    margin-top: 15px;
    float: right;
    border: none;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out
}

.formulario input[type=submit]:hover {
    background-color: #000;
    color: #EDA921;
    cursor: pointer
}

.formulario .options {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    padding: 8px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc
}

.formulario .options #status,
.formulario .options .opt {
    padding: 7px;
    font-size: 14px;
    font-family: 'Open Sans'
}

.formulario .options .opt {
    color: #000;
    font-weight: 700;
    height: auto;
    overflow: inherit;
    width: 55%
}

.formulario .options #status {
    right: 0;
    width: 45%;
    text-align: center;
    background: url(/img/arrow-down2-56.png) right no-repeat #fff;
    border-left: 1px solid #ccc
}

.formulario .options select {
    border: 0;
    background: #fff;
    -webkit-appearance: none
}

.espacio .langform {
    background-color: #EDA921;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    padding: 8px;
    font-family: 'Open Sans';
    font-size: 14px;
    border-radius: 9px;
    margin-left: -10px;
    margin-top: 5px;
    border: none;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out
}

.espacio .langform:active,
.espacio .langform:focus,
.espacio .langform:hover {
    background-color: #000;
    color: #EDA921;
    cursor: pointer
}

.espacio {
    margin: 15px;
    padding: 5px;
}
/*BREADCRUMBS*/

.breadcrumbs li a {
    text-decoration: none
}

h1 {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 36px;
    margin: 10px 10px 80px;
}

.breadcrumbs li {
    display: inline-block;
    font-family: 'Open Sans';
}

.title-section {
    padding-top: 50px
}

.breadcrumbs {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 45px
}

.breadcrumbs li a {
    color: #000
}

.breadcrumbs .active,
.breadcrumbs li a:hover {
    color: #eda921
}
.partnerscarrousel {
     width: 60%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     background-color: #fff
 }
 
/*BACK TO TOP*/
.scrollToTop {
    color: #000;
    z-index: 200;
    position: fixed;
    margin-bottom: 55px;
    transform: translate(-50%, -50%);
    font-size: 1.4em;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    outline: 0;
    background: #eda921;
    bottom: 25px;
    right: 3px;
    opacity: 0;
    visibility: hidden
}

#marker {
    position: absolute;
    top: 100px;
    width: 0;
    height: 0
}

/*OUR PARTNERS -WE WORK HARD...TEXT*/
.wework{
    font-family: 'Open Sans';
    font-size: 24px;
    color: #000;
    text-align: center;
    font-weight: 100;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
/*ABOUT US*/
.services {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px
}
.services .texto {
    text-align: center;
    z-index: 5;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px
}
.reverse {
    flex-direction: row-reverse
}
.services .texto h2{
    font-family: 'Open Sans';
    font-size: 21px;
    color: #000;
    font-weight: bold;   
}
.services .texto p{
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: left;
}


/*OUR TEAM*/

.top {
    background-color: #eda921;
    text-align: center;
    align-items: center;
    position: relative
}

.top amp-img {
    margin: 15px
}

.our-team{
    text-align: center
}

i {
    border: solid #eda921;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 4px
}


.our-team {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row
}

.our-team amp-img {
    border-radius: 150px
}

.our-team .person {
    margin: 50px;
    position: relative
}

.our-team .person .name {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
}

.our-team .person .job {
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 24px;
    text-align: center
}

.our-team .person .info,
.teamarea {
    font-size: 18px;
    font-family: 'Open Sans';
    text-align: center
}

.teamarea {
    font-weight: 700;
    background-color: #214460;
    color: #fff;
    display: inline-block;
    margin: 25px;
    padding: 10px;
    border-radius: 5px
}

.our-team .person .info {
    visibility: hidden;
    background-color: #fff;
    border: 4px solid #eda921;
    z-index: 1;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    height: 255px;
    width: 255px;
    border-radius: 50%;
}
.our-team .person .info  p{
    text-align: center;
    top: 23%;
    left: 2%;
    position: relative;
}

.full {
    display: block;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.full .name {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-top: 25px
}

.full .job {
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 24px;
    text-align: center
}

.full .info {
    font-size: 18px;
    font-family: 'Open Sans';
    text-align: left;
    padding: 10px;
    margin: 5px
}

.our-team .person:hover .info {
    visibility: visible
}

/*BLOG*/

.principal h1 {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    padding-top: 60px;
}


.principal {
    padding: 0;
    margin: 0;
    background-image: url(/img/blog.jpg);
    height: 820px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
/*JOB OPPORTUNITIES*/
input[type=button],
input[type=submit] {
    text-decoration: none
}


.top {
    background-color: #eda921;
    text-align: center;
    align-items: center;
    position: relative
}

.padre{
    text-align: center
}


.padre {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 80px
}

.padre .hijo {
    margin: 15px;
    padding: 10px
}

.padre .hijo ul {
    list-style: none;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 18px
}

.padre .hijo .section,
input[type=submit] {
    background-color: #214460;
    font-weight: 700;
    padding: 10px
}

.padre .hijo ul li::before {
    content: "•";
    color: #eda921;
    margin: 12px;
    font-size: 25px
}

.padre .hijo .section,
input[type=button],
input[type=email],
input[type=phone],
input[type=submit],
input[type=text] {
    font-size: 18px;
    font-family: 'Open Sans'
}

.padre .hijo ul li {
    text-align: left
}

input[type=button],
input[type=submit] {
    text-align: center
}

.padre .hijo .section {
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 25px
}

.padre .hijo input[type=email],
.padre .hijo input[type=file],
.padre .hijo input[type=phone],
.padre .hijo input[type=text] {
    min-width: 320px;
    height: 35px;
    display: block;
    background-color: #fff;
    border: 1px solid #214460;
    color: #000;
    margin-bottom: 20px;
    padding-left: 10px
}

.padre .hijo input[type=button] {
    background-color: #214460;
    color: #fff;
    padding: 10px;
    border: 1px solid #214460;
    float: left
}

.padre .hijo input[type=submit] {
    color: #eda921;
    border: 1px solid #214460;
    float: right;
    border-radius: 9px
}

/*BOND*/

form.amp-form-submit-error [submit-error],
form.amp-form-submit-success [submit-success] {
    margin-top: 16px
}

form.amp-form-submit-success [submit-success] {
    color: green
}

form.amp-form-submit-error [submit-error] {
    color: red
}

.top {
    background-color: #eda921;
    text-align: center;
    align-items: center;
    position: relative
}

.top amp-img {
    margin: 15px
}

.info {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    overflow: hidden;
    text-align: center
}

.cotizacion p,
.info p {
    font-family: 'Open Sans';
    margin-left: auto;
    margin-right: auto
}

.info p {
    padding: 20px;
    font-size: 18px;
    max-width: 950px;
    text-align: left;
    margin-bottom: 50px
}

.cotizacion .formulario {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.formulario form {
    background-color: #fff;
    padding: 20px 18px 18px;
    border-radius: 12px;
    font-family: 'Open Sans';
    border: 2px solid #ccc
}

.formulario .quote {
    width: 650px;
    margin-bottom: 25px;
    margin-top: 25px
}

.formulario .options,
.formulario .quote input[type=text],
.formulario input[type=email] {
    width: 95%;
    font-family: 'Open Sans';
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto
}

.formulario .quote input[type=text],
.formulario input[type=email] {
    background-color: #fff;
    display: block;
    height: 20px;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: #000
}

.cotizacion amp-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 571px;
    max-height: 358px
}

.formulario .quote input[type=email]::placeholder,
.formulario .quote input[type=text]::placeholder {
    color: #b2b2b2;
    opacity: 1
}

.formulario fieldset {
    border: none
}

.formulario input[type=submit] {
    background-color: #eda921;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 18px;
    border-radius: 9px;
    margin-top: 15px;
    float: right;
    border: none;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out
}

.formulario input[type=submit]:hover {
    background-color: #000;
    color: #eda921;
    cursor: pointer
}

.formulario .options {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    padding: 8px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc
}

.formulario .options #status,
.formulario .options .opt {
    padding: 7px;
    font-size: 14px;
    font-family: 'Open Sans'
}

.formulario .options .opt {
    color: #000;
    font-weight: 700;
    height: auto;
    overflow: inherit;
    width: 55%
}

.formulario .options #status {
    right: 0;
    width: 45%;
    text-align: center;
    background: url(/img/arrow-down2-56.png) right no-repeat #fff;
    border-left: 1px solid #ccc
}

.formulario .options select {
    border: 0;
    background: #fff;
    -webkit-appearance: none
}


.espacio .langform {
    background-color: #eda921;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    padding: 8px;
    font-family: 'Open Sans';
    font-size: 14px;
    border-radius: 9px;
    margin-left: -10px;
    margin-top: 5px;
    border: none;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out
}

.espacio .langform:active,
.espacio .langform:focus,
.espacio .langform:hover {
    background-color: #000;
    color: #eda921;
    cursor: pointer
}

.espacio {
    margin: 15px;
    padding: 5px
}
/*TEXTO EN IMAGENES SERVICIOS */

.expositor {
    position: relative
}

.expositor .texto-servicio {
    position: absolute;
    z-index: 1;
     border-radius: 15px;
         opacity: .8;
  filter: alpha(opacity=80);
}

.expositor .texto-servicio h2 {
    font-family: 'Open Sans';
    font-weight: 400
}

.expositor .workers, .expositor .general, .expositor .excess{
    top: 25%;
    right: 5%;
}
.expositor .workers,  .expositor .bond{
   background-color: #eda921;  
    
}

.expositor .general {
    background-color: #fff;
}

.expositor .commvehicle, .expositor .small {
    top: 25%;
    left: 5%;
      background-color: #214460;
    color: #fff;
}
 .expositor .bond {
     top: 25%;
     left: 5%;
     color: #fff;
 }

 .expositor .tool {
      top: 25%;
     left: 5%;
     background-color: #FFF;
 }

.expositor .excess{
    background-color: #214460;
    color: #fff;
}

/*CONTACT*/
.contactus{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.contactus .hijo {
    margin: 15px;
    padding: 10px;
}

.contactus .hijo ul {
    list-style: none;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 18px
}

.contactus .hijo .section {
    background-color: #eda921;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
    font-family: 'Open Sans';
    color: #000;
    border-radius: 5px;
}

.contactus .hijo ul li {
    text-align: left
}

.slogan p,
input[type=submit] {
    text-align: center
}

.contactus .hijo .section {
    text-align: center;
    color: #000;
    display: inline-block;
    margin: 25px
}

.dir,
.contactus .hijo .info,
.mapa {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto
}

.contactus .hijo input[type=email],
.contactus .hijo input[type=phone],
.contactus .hijo input[type=text] {
    min-width: 320px;
    height: 35px;
    display: block;
    background-color: #fff;
    border: 1px solid #214460;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
    padding-left: 10px
}

.contactus .hijo input[type=submit] {
    color: #eda921;
    border: 1px solid #214460;
    float: right;
    border-radius: 9px;
    background-color: #214460;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
    font-family: 'Open Sans';
}

.getquote {
    border: 2px solid #ccc;
    padding: 25px 20px 60px;
    border-radius: 9px;
}

.mapa {
    display: block;
    margin-bottom: 20px
}

.dir,
.contactus .hijo .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center
}
.dir p{
    font-family: 'Open Sans';
    text-align: left;
    font-size: 24px;
}
.dir amp-img,
.contactus .hijo .info amp-img {
    margin-right: 30px
}

.slogan {
    height: 280px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center
}

.slogan p {
    font-family: 'Open Sans';
    font-size: 48px;
    font-weight: 400
}

/*COMMERCIAL INSURANCE*/
.intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    max-width: 1200px;
    overflow: hidden
}
.intro p {
    padding: 40px;
    font-size: 24px;
    font-family: 'Open Sans';
}

.centromenu {
    margin: 120px auto;
    max-width: 1080px
}

.centromenu .serviciostitulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.centromenu .serviciostitulo .frame {
    min-height: 330px;
    min-width: 330px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 15px;
}

.centromenu .serviciostitulo .foto {
    height: 330px;
    width: 330px;
    border-radius: 50%;
    position: absolute
}

.centromenu .serviciostitulo .foto:active,
.centromenu .serviciostitulo .foto:focus,
.centromenu .serviciostitulo .foto:hover {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out
}

.centromenu .serviciostitulo .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.centromenu .serviciostitulo .frame a .middle p {
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 26px;
    color: #fff;
    line-height: 98%;
    text-align: center;
}

.unouno {
    left: -3%;
    top: -175%
}

.dosdos {
    left: -2%;
    top: -130%
}

.trestres {
    left: 10%;
    top: 2%;
}

.cuatrocuatro {
    left: -58px;
    bottom: -75px
}

.cincocinco {
    top: -30px;
    left: 25px
}

.seisseis {
    top: -40px;
    left: 22px
}

/*COOKIES ADVICE*/
 amp-user-notification .aceptar,
amp-user-notification p {
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: center;
    color: #000
}

amp-user-notification>div {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    background-color: #efefef;
    height: 50px
}

amp-user-notification .aceptar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px
}

/*CELLPHONE*/
@media (max-width:575.98px) {
    .menu-desktop,
    .top .contact {
        display: none
    }
     .carousel-desktop {
        display: none
    }
    amp-carousel a .texto h2 {
        font-size: 14px
    }
    .cuarto, .segundo,
    .sexto,
    amp-carousel a .primero {
        bottom: 8%;
        left: 8%
    }
    
    .quinto,
    amp-carousel a .tercero {
        bottom: 8%;
        right: 10%
    }
     .formulario .quote {
        width: 80%
    }
     .partnerscarrousel {
         width: 90%
     }
    .breadcrumbs{
        text-align: center;
    }
     .expositor .texto-servicio h2 {
        font-size: 12px;
        padding: 8px
    }
}

@media (min-width:576px) and (max-width:767.98px) {
    .menu-desktop,
    .top .contact {
        display: none
    }
      .carousel-desktop {
        display: none
    }
    amp-carousel a .texto h2 {
        font-size: 16px
    }
      .cuarto, .segundo,
    .sexto,
    amp-carousel a .primero {
        top: 25%;
        left: 10%
    }
  
    .quinto,
    amp-carousel a .tercero {
        top: 28%;
        right: 15%
    }
     .formulario .quote {
        width: 80%
    }
     .partnerscarrousel {
         width: 85%
     }
    .breadcrumbs{
        text-align: center;
    }
      .expositor .texto-servicio h2 {
        font-size: 14px;
        padding: 10px
    }
}

@media (min-width:768px) and (max-width:1049.98px) {
    .menu-desktop,
    .top .contact {
        display: none
    }
      .carousel-mobile {
        display: none
    }
    .segundo,
    .sexto,
     amp-carousel a .cuarto,
    amp-carousel a .primero,
    amp-carousel a .quinto {
        margin-left: 55px;
        margin-top: 15px
    }
   
    amp-carousel a .tercero {
        top: 11%;
        right: 7%
    }
    amp-carousel a .texto {
        font-size: 18px
    }
     .partnerscarrousel {
         width: 80%
     }
    .breadcrumbs{
        text-align: center;
    }
        .expositor .texto-servicio h2 {
        font-size: 18px;
        padding: 15px
    }
}

@media (min-width:1050px) and (max-width:1199.98px) {
    .menu-responsive {
        display: none
    }
        .carousel-mobile {
        display: none
    }
    .segundo,
    .sexto,
    
    amp-carousel a .cuarto,
    amp-carousel a .primero,
    amp-carousel a .quinto {
        margin-left: 85px;
        margin-top: 18px
    }
    amp-carousel a .tercero {
        top: 6%;
        right: 7%
    }
    amp-carousel a .texto {
        font-size: 24px
    }
     .partnerscarrousel {
         width: 75%
     }
       .expositor .texto-servicio h2 {
        font-size: 24px;
        padding: 20px
    }
}

@media (min-width:1200px) {
    .menu-responsive {
        display: none
    }
      .carousel-mobile {
        display: none
    }
    amp-carousel a .texto {
        font-size: 26px
    }
    amp-carousel a .cuarto,
    amp-carousel a .primero,
    amp-carousel a .quinto {
        margin-left: 15%;
        margin-top: 5%
    }
    .sexto,
    amp-carousel a .segundo {
        margin-left: 20%;
        margin-top: 5%
    }
    
    amp-carousel a .tercero {
        right: 20%;
        margin-top: 5%
    }
     .partnerscarrousel {
         width: 70%
     }
      .expositor .texto-servicio h2 {
        font-size: 36px;
        padding: 25px
    }
}

/*MENU CALL TRACKING*/
@media (min-width:1049.98px) and (max-width:1543px){
    .top .contact{
        right: -55px;
    }
   .top .contact li {
    display: inline;
       
}

.top .contact amp-img {
    margin-right: 5px;
    max-width: 20px;
    max-height: 20px;
}

.top .contact .phonenumber, .top .contact .servicetext {
    font-size: 16px;
}

.top .contact li {
    float: left
}
    
}
